*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 150px;
}

body{
    background-color: #CECECE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23d8d6d8' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23e1dee2' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23ebe7eb' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23f4eff5' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FEF7FF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

main{
    height: 130px;
}
.title{

    text-align: center;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



img:hover{
    opacity: 0.8;
}

p{
    text-align: center;
    font-size: x-small;

}
.bordered{
    border: 5px solid black;
}


.title{
    margin-top: 30px;
}
.jpg__Section{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}

figure{
    text-align: center;
}

.card_G{
    width: 350px;
    height: 350px;
    /* background-image: url("Assets/HorseQ-high.jpeg");
    background-size: cover; */
    align-items: center;
    animation: card_H 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}figcaption{
    /* margin-top: 1rem; */
    text-align: center;
    font-weight: 500;
    
    
}
@keyframes card_G {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.card_G img{
    translate: 0 -40px;
}

.card_H{
    width: 350px;
    height: 450px;
    /* background-image: url("Assets/HorseQ-high.jpeg");
    background-size: cover; */
    align-items: center;
    animation: card_H 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    
}figcaption{
    /* margin-top: 1rem; */
    text-align: center;
    font-weight: 500;
    
    
}

.card_H img{
    translate: 0 -40px;
}

@keyframes card_H {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}



.card_M{
    width: 350px;
    height: 450px;
    /* background-image: url("Assets/HorseQ-medium.jpg");
    background-size: cover; */
    animation: card_H 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}figcaption{
    /* margin-top: 1rem; */
    text-align: center;
    font-weight: 500;
}

.card_M img{
    translate: 0 -50px;
}

@keyframes card_M {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}



.card_L{
    width: 350px;
    height: 450px;
    /* background-image: url("Assets/HorseQ-Low.jpg");
    background-size: cover; */
    animation: card_H 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}figcaption{
    /* margin-top: 1rem; */
    text-align: center;
    font-weight: 500;
}

.card_L img{
    translate: 0 -40px;
}

@keyframes card_L {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* PNG Image */

.png__Section{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
}

.card_1{
    width: 350px;
    height: 450px;
    /* background-image: url("Assets/HorseQ-high.jpeg");
    background-size: cover; */
    animation: card_1 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}figcaption{
    /* margin-top: 1rem; */
    text-align: center;
    font-weight: 500;
}



@keyframes card_1 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}




.card_2{
    width: 350px;
    height: 450px;
    /* background-image: url("Assets/HorseQ-medium.jpg");
    background-size: cover; */
    animation: card_2 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}figcaption{
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
}

@keyframes card_2 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* SCALE IMAGE */

.zoom__Section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 600px;
}



.img1{
    width: 200px;
    transition: width 0.5s;
    overflow: hidden;
    margin-right: 80px;
    

}
.img2{
    width: 200px;
    transition: width 0.5s;
    overflow: hidden;
    margin-left: 80px;
    

}

#scale_img{
    cursor: pointer;
    background-color: coral;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    border: none;
}



#scale_img:hover{
    background-color: yellowgreen;
}

#scale_img:active  + .image_container img{
    transform: scale(1.8);
}


.bananas{
    animation: bananas 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes bananas{
    0% {
        box-shadow: 0 0 5 0 rgb(36, 160, 222);
    }

    100% {
        box-shadow: 0 0 40px 5px rgba(108, 239, 33, 0.66);
    }
}

